# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import csv
URL = r'C:\Users\carol\Ironhack\2.3-lab_df_calculation_and_transformation\your-code\Pokemon.csv'

In [3]:
pokemon_ori = pd.read_csv(URL)

In [4]:
pokemon=pokemon_ori.copy()

In [5]:
pokemon=pd.read_csv(URL)
pokemon.T

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
#,1,2,3,3,4,5,6,6,6,7,...,714,715,716,717,718,719,719,720,720,721
Name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde50% Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion
Type 1,Grass,Grass,Grass,Grass,Fire,Fire,Fire,Fire,Fire,Water,...,Flying,Flying,Fairy,Dark,Dragon,Rock,Rock,Psychic,Psychic,Fire
Type 2,Poison,Poison,Poison,Poison,NaN,NaN,Flying,Dragon,Flying,NaN,...,Dragon,Dragon,NaN,Flying,Ground,Fairy,Fairy,Ghost,Dark,Water
Total,318,405,525,625,309,405,534,634,634,314,...,245,535,680,680,600,600,700,600,680,600
HP,45,60,80,80,39,58,78,78,78,44,...,40,85,126,126,108,50,50,80,80,80
Attack,49,62,82,100,52,64,84,130,104,48,...,30,70,131,131,100,100,160,110,160,110
Defense,49,63,83,123,43,58,78,111,78,65,...,35,80,95,95,121,150,110,60,60,120
Sp. Atk,65,80,100,122,60,80,109,130,159,50,...,45,97,131,131,81,100,160,150,170,130
Sp. Def,65,80,100,120,50,65,85,85,115,64,...,40,80,98,98,95,150,110,130,130,90
Speed,45,60,80,80,65,80,100,100,100,43,...,55,123,99,99,95,50,110,70,80,70
Generation,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
Legendary,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True

In [6]:
dimension_original= pokemon.shape
dimension_original

(800, 13)

In [7]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [8]:
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [9]:
pokemon.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 194.7 KB

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [10]:
#consolidar los datos que quiero -> HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, and Total
#teoría de que el total es la suma del las columnas restantes. Verificarlo. Si afirmamos esta teoría solo tendría que manejar la fila 'Total'
#¿cuál es la fórmula para calcular el 'Total'?
#¿La fórmula sirve para todos los pokemons?

In [11]:
#primero limpio todos los datos
pokemon.columns=[columnas.replace(' ', '_').lower()for columnas in pokemon.columns]
pokemon.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp._atk', 'sp._def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [12]:
pokemon.head().T

                    0        1         2                      3           4
#                   1        2         3                      3           4
name        Bulbasaur  Ivysaur  Venusaur  VenusaurMega Venusaur  Charmander
type_1          Grass    Grass     Grass                  Grass        Fire
type_2         Poison   Poison    Poison                 Poison         NaN
total             318      405       525                    625         309
hp                 45       60        80                     80          39
attack             49       62        82                    100          52
defense            49       63        83                    123          43
sp._atk            65       80       100                    122          60
sp._def            65       80       100                    120          50
speed              45       60        80                     80          65
generation          1        1         1                      1           1
legendary       False    False     False                  False       False

In [13]:
cols = ['total','hp', 'attack', 'defense','sp._atk', 'sp._def', 'speed']
pokemon[cols].head().T

           0    1    2    3    4
total    318  405  525  625  309
hp        45   60   80   80   39
attack    49   62   82  100   52
defense   49   63   83  123   43
sp._atk   65   80  100  122   60
sp._def   65   80  100  120   50
speed     45   60   80   80   65

In [14]:
pokemon[cols].describe(include='all').T

         count       mean         std    min     25%    50%    75%    max
total    800.0  435.10250  119.963040  180.0  330.00  450.0  515.0  780.0
hp       800.0   69.25875   25.534669    1.0   50.00   65.0   80.0  255.0
attack   800.0   79.00125   32.457366    5.0   55.00   75.0  100.0  190.0
defense  800.0   73.84250   31.183501    5.0   50.00   70.0   90.0  230.0
sp._atk  800.0   72.82000   32.722294   10.0   49.75   65.0   95.0  194.0
sp._def  800.0   71.90250   27.828916   20.0   50.00   70.0   90.0  230.0
speed    800.0   68.27750   29.060474    5.0   45.00   65.0   90.0  180.0

In [15]:
#suma y especifico que la operación de suma se realizará a lo largo de las columnas(por fila)
hipotesis1_suma= pokemon[['hp','attack','defense','sp._atk','sp._def','speed']].sum(axis=1)
hipotesis1_suma.head()

0    318
1    405
2    525
3    625
4    309
dtype: int64

In [16]:
hipotesis1_suma == pokemon['total']

#como es una tabla de 800 columnas lo verifico al revés. Lista de aquellos pokemon para los cuales la suma no coincide con la columna 'Total'

0      True
1      True
2      True
3      True
4      True
       ...
795    True
796    True
797    True
798    True
799    True
Length: 800, dtype: bool

In [17]:
hipotesis1_no_totales= (hipotesis1_suma == pokemon['total'])
no_coiciden = pokemon[~hipotesis1_no_totales]
no_coiciden

Empty DataFrame
Columns: [#, name, type_1, type_2, total, hp, attack, defense, sp._atk, sp._def, speed, generation, legendary]
Index: []

¡Confirmamos hipótesis! -> la suma de las 6 columnas es = a la columna 'total'

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [38]:
pokemon.T

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
#,1,2,3,3,4,5,6,6,6,7,...,714,715,716,717,718,719,719,720,720,721
name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde50% Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion
type_1,Grass,Grass,Grass,Grass,Fire,Fire,Fire,Fire,Fire,Water,...,Flying,Flying,Fairy,Dark,Dragon,Rock,Rock,Psychic,Psychic,Fire
type_2,Poison,Poison,Poison,Poison,NaN,NaN,Flying,Dragon,Flying,NaN,...,Dragon,Dragon,NaN,Flying,Ground,Fairy,Fairy,Ghost,Dark,Water
total,318,405,525,625,309,405,534,634,634,314,...,245,535,680,680,600,600,700,600,680,600
hp,45,60,80,80,39,58,78,78,78,44,...,40,85,126,126,108,50,50,80,80,80
attack,49,62,82,100,52,64,84,130,104,48,...,30,70,131,131,100,100,160,110,160,110
defense,49,63,83,123,43,58,78,111,78,65,...,35,80,95,95,121,150,110,60,60,120
sp._atk,65,80,100,122,60,80,109,130,159,50,...,45,97,131,131,81,100,160,150,170,130
sp._def,65,80,100,120,50,65,85,85,115,64,...,40,80,98,98,95,150,110,130,130,90
speed,45,60,80,80,65,80,100,100,100,43,...,55,123,99,99,95,50,110,70,80,70
generation,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
legendary,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True

In [49]:
pokemon['encode']= pokemon['type_1'] + pokemon['type_2']
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,encode
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,GrassPoison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,GrassPoison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,GrassPoison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,GrassPoison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN

In [57]:
pokemon['encode']==pokemon['encode'].astype(str)

0       True
1       True
2       True
3       True
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: encode, Length: 800, dtype: bool

In [64]:
pokemon_encoded1=pd.get_dummies(pokemon['type_1'],dtype=int)
pokemon_encoded2=pd.get_dummies(pokemon['type_2'],dtype=int)

pokemon_encoded = pokemon_encoded1 + pokemon_encoded2
pokemon_encoded.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here